body {
    background-image: url(FLETCHERHEALINGFINAL-1-bg-compressed.jpeg);
    background-size: cover;
    margin:0;
    margin-top:1vh;
    margin-left: 3.5vw;
    margin-right: 3vw;
    
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(Poppins-Medium.ttf) format('truetype');
}

.log-boolean, .log-undefined {
    color: magenta;
}

.log-string {
    color:white;
    font-size:5.2vw;
    font-family: 'Poppins-Medium';
    
}

.log-object{
    color:white;
    font-size:6vw;
    font-family: 'Poppins-Medium';
}

.log-number {
    color: cyan;
}

h1{
    color:white;
    font-size:9vw;
    font-family: 'Poppins-Medium';
    margin: 0px;
    padding-bottom: 0.5vw;
    text-align:center;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

li{
    color:white;
    font-size:5.2vw;
    font-family: 'Poppins-Medium';
  
}

#container{
    width: 100%;
}

#time{
    float:right;
 
    text-align:right;
}

#countries{
    float:left;
    
}

#est{
    float:right;
}

  