body {
    background-image: url(FLETCHERHEALINGFINAL-1-bg-compressed.jpeg);
    background-size: cover;
    text-align: center;
}


.log-boolean, .log-undefined {
    color: magenta;
}

.log-string {
    color:white;
    font-size:6vw;
    font-family: 'Poppins';
    
}

.log-object{
    color:white;
    font-size:6vw;
    font-family: 'Poppins';
}

.log-number {
    color: cyan;
}

h1{
    color:white;
    font-size:6vw;
    font-family: 'Poppins';

    margin: 0px;
    padding-bottom: 0.5vw;

}

/* devanagari */
@font-face {
    font-family: 'Poppins-Medium';
    src: url(Poppins-Medium.ttf) format('ttf');
}